# Identity Verification 

Identity Verification includes a powerful identity verification tool that helps you minimize identity fraud by comparing an applicant's personal identification information against public record databases to flag inconsistencies. Identity verification also provides a fast and efficient method for complying with Section 326 of the USA Patriot Act and FACTA Red Flag Rules. 

These Consumer and Business Verification APIs make it possible to authenticate new customers and busniesses  before they open an account. These identity verification API's, can be used to validate existing customers and customers accessing accounts through a digital channel.

**Who is it for:** Developers creating or integrating apps that need a Consumer Verification (KYC), and Business Verification (KYB) authentication service.  

**How is it used:** Employ these APIs to create or integrate Know You Customer applications with public record databases to authenticate a customers personal information such as identity, address and phone.  

**Potential uses:** Consumer and Business verification apps that provide authencation services. 

Begin the integration with following services of Identity Verification domain in API Explorer:

* Consumer ID Authentication
* Consumer Verification Address
* Consumer Verification Email
* Consumer Verification Phone
* Consumer Watchilst
* Business Verification
* Business Verification Address
* Business Verificatino Email
* Business Verification Phone
* Business Watchlist



