# Business Identity Verification 

Business Identity Verification includes a powerful identity verification tool that helps you minimize identity fraud by comparing an business customers identification information against public record databases to flag inconsistencies. Business Identity verification also provides a fast and efficient method for complying with Section 326 of the USA Patriot Act and FACTA Red Flag Rules. 

These Know Your Business (KYB) APIs make it possible to authenticate new business customers before they open an account. This KYB API can be used to validate existing customers and new busniess customers accessing accounts through a digital channel.

**Who is it for:** Developers creating or integrating apps that need a Know Your Business (KYB) authentication service.  

**How is it used:** Employ these APIs to create or integrate Know You Business applications with public record databases which authenticate a business customers information such as identity, address and phone.  

**Potential uses:** KYB Apps that provide business customer authencation services. 

Business Identity Verification also includes the following authentication API's:

* Business Verification Only
* Business Verification with Authorizer
* Business Watchlist Scan
* Business Address Verification
* Business Phone Verification
* Business E-mail Verification



